<div class="stories">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
    <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1692649216/Captura29_pex3tl.jpg" alt="" srcset="">
</div>
