  <div class="stories">
    @for(user of userService.usuarios; track userService.usuarios)
    { 

        <img [src]="user.profilePicture"   (click)="openStoriesModal(user.nombre)"  alt="">
    }
</div>



<div class="storiesModal"  #modalStorie >

      <div class="modal-header">

          <div class="userInfoWrapper">

             <img [src]="userService.profileSelected.profilePicture" alt="">
             <h1 class="modal-title fs-5" id="staticBackdropLabel">{{userService.profileSelected.nombre}}</h1>
             <button type="button" class="btn btn-secondary" (click)="closeStoriesModal()">Cerrar</button>

          </div>

          <div class="progressBarsWrapper">
            @for(storie of storiesToShow;track storiesToShow){
              <div class="storiesBar">
   
                  <div class="progress-bar" [style.width]="userService.profileSelected.stories[0].progress"></div>
          
              </div>
            }
          </div>
          
          <div class="storie">
              <img src="" alt="">
          </div>

      </div>
</div>
