  <div class="stories">
    @for(user of userService.usuarios; track userService.usuarios)
    { 

        <img [src]="user.profilePicture"   (click)="openStoriesModal(user.nombre)"  alt="">
    }
</div>



<div class="storiesModal"  #modalStorie >

      <div class="modal-header">

          <div class="userInfoWrapper">

             <img [src]="userService.profileSelected.profilePicture" alt="">
             <h1 class="modal-title fs-5" id="staticBackdropLabel">{{userService.profileSelected.nombre}}</h1>
             <button type="button" class="btn btn-secondary" (click)="closeStoriesModal()">Cerrar</button>

          </div>

          <div class="progressBarsWrapper">
            @for(storie of storiesDelUsuarioEscogido;track storiesDelUsuarioEscogido){
              <div class="storiesBar">
                  <div class="progress-bar" [style.width]="storie.progress"></div>
              </div>
              
            }
          </div>
          
   

      </div>
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-inner">
          @for(item of storiesDelUsuarioEscogido;track storiesDelUsuarioEscogido)
          {
            <div class="carousel-item active">
              <img [src]="item.picture" class="d-block w-100" alt="...">

            </div>
          }
      
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
           
  
</div>

