@import '../../../../../node_modules/bootstrap/scss/bootstrap';
.stories{
    width: 60vw;
    background-color: rgb(30, 131, 220);
    height: 15vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    justify-content: center;
    flex-wrap: wrap;

}
img{
    height: 10vh;
    width: 10vh;
    padding:1% 1% ;
    margin: 1%;
    border-radius: 110%;
    border: 2px solid slateblue;
}
.modal-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
}
.userInfoWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;

}
.userInfoWrapper img{
margin: 0% 10%;
}
.userInfoWrapper button{
    margin: 0% 10%;
    }
    .storiesBar,
    .storiesBarSeen {
      display: flex;
      height: 5px;
      width: 3vw;
      overflow: hidden;
      margin: 0% 2%;
      padding: 0%;
    }
    
    .storiesBar {
      background-color: #ccc;
    }
    
    .storiesBarSeen {
      background-color: #777;
    }
    
    .progress-bar-seen {
      display: none;
    }
    
    .progress-bar {
      height: 100%;
      width: 0%;
      background-color: #2a74d2;
      transition: width 3s linear;
    }
    
    .progressBarsWrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    .storiesModal {
      right: 0;
      top: 0;
      position: absolute;
      background-color: #333;
      z-index: 10000000;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    
    .carousel {
      height: 80vh;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 90vh;
      border-radius: 0%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #2a74d2;
    }
    
    .carousel-item {
      width: 80vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .carousel-inner {
      background-color: aqua;
      width: 80vw;
      height: 100%;
    }
    
    .carousel img {
      display: block;
      margin: 0;
      padding: 0;
      height: 80vh;
      width: 80vw;
      border-radius: 0%;
    }