<nav class="toolbar" role="banner">
    <ul class="nav">
        <li class="nav-item">
            <img class="instagramHomeLogo" src="https://res.cloudinary.com/debvhmcid/image/upload/v1702357115/Logo-Instagram_uv6hzn_xlztwi.png" alt="">
        </li>
    </ul>

    <ul class="nav">
      <li class="nav-item">
        <button type="button" (click)="goToHome()" class="btn btn-light" >🏠Inicio</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light" data-bs-target="#staticBackdrop"  data-bs-toggle="modal">🔎Busqueda</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light">🧭Explorar</button>
      </li>
      <li class="nav-item">
        <button type="button" (click)="goToReels()" class="btn btn-light">💬Reels</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-light">🔑Login</button>
      </li>
    </ul>
  </nav>

   <!-- SEARCH QUERY MODAL -->  
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Buscar</h1>
           <!-- SEARCH QUERY TEXT INPUT --> 
          <input type="text" class="form-control" [(ngModel)]="userService.textoBusqueda"  (input)="userService.filtrarUsuarios()" placeholder="Busca usuarios aquí" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div class="modal-body">  
          @for (usuario of userService.usuariosDeLaBusqueda; track userService.usuariosDeLaBusqueda ) {
         <div class="userWrapper" (click)="userService.redirectToProfileSelected(usuario.nombre)"  data-bs-dismiss="modal">
            <img [src] ="usuario.profilePicture" alt="user-Profile-Picture"><span>{{ usuario.nombre }}</span>
         </div>
           }
          @empty{
            <span>No hay usuarios que coincidan con la busqueda</span>
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>