<div class="feed">
@for(post of userService.feedPosts; track userService.feedPosts)
{  
    <div class="post"> 
        <div class="postUser">
            <img [src]="post.profilePicture" class="postUserImage" alt="" (click)="userService.redirectToProfileSelected(post.usuario,'profile')">
            <p class="postUsername" profileSelected>{{post.usuario}}</p>
        </div>
        <img class="picture" [src]="post.picture" alt="" srcset="">
        <div class="buttons">
           <!-- lIKES  --> 
            <input type="button" (click)="like(post.usuario,post.picture)" value="❤️">
                  <!-- /lIKES  --> 
            <input type="button"  value="💬">
            <input type="button"  value="share">
        </div>
       
        <p class="postLikes" (click)="userService.getLikesOfAPost(post.likes)"  data-bs-target="#staticBackdrop2"  data-bs-toggle="modal">
           {{post.likes.length}} likes
        </p>
        <p class="postComment">{{post.description}}</p>
        @for(comentario of post.comments;track userService.feedPosts){
          <div class="comment">
            <div class="commentPicture">
                <img [src]="comentario.userProfilePicture" class="postUserImage">
            </div>
            <div class="commentUser">
                <h4 class="commentUsername">{{comentario.usuario}}</h4>
            </div>
            <div class="commentText">
                <h4>{{comentario.comment}}</h4>
            </div>
        </div>
        
        }@empty{
          <h1>nadie a comentado todavia. ¡sé el primero!</h1>
        }
        <div class="buttons">
             <!-- comments  --> 
             @if(comentariosForm[post.picture]){
              <form [formGroup]="comentariosForm[post.picture]">
                <input placeholder="Escribe un comentario" formControlName="comentario">
              </form>
             }
            
            <input style="width: min-content;" type="button" value="🚀send" (click)="sendComment(post.usuario,post.picture)">
              <!-- /comments  --> 
        </div>
     
    </div>
 
}
</div>

 <!-- lIKES MODAL --> 

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Likes</h1>
       
        </div>
        <div class="modal-body">  
          @for (like of userService.selectedPostLikes; track userService.selectedPostLikes ) {
                 <div class="likerWrapper">
                    <img  data-bs-dismiss="modal" (click)="userService.redirectToProfileSelected(like.usuario,'profile')" [src] ="like.userProfilePicture" alt="user-Profile-Picture">
                    <span  data-bs-dismiss="modal" (click)="userService.redirectToProfileSelected(like.usuario,'profile')">{{ like.usuario }}</span>
                 </div>
           }
          @empty{
            <span>Nadie a dado like aún. ¡sé el primero!</span>
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
