<div class="feed">
@for(post of userService.feedPosts; track userService.feedPosts)
{  
    <div class="post"> 
        <div class="postUser">
            <img [src]="post.profilePicture" class="postUserImage" alt="" (click)="userService.redirectToProfileSelected(post.usuario,'profile')">
            <p class="postUsername" profileSelected>{{post.usuario}}</p>
        </div>
        <img class="picture" [src]="post.picture" alt="" srcset="">
        <div class="buttons">
            <input type="button"  value="❤️">
            <input type="button"  value="💬">
            <input type="button"  value="share">
        </div>
       
        <p class="postLikes" (click)="userService.getLikesOfAPost(post.likes)"  data-bs-target="#staticBackdrop2"  data-bs-toggle="modal">
           {{post.likes.length}} likes
        </p>
        <p class="postComment">{{post.description}}</p>
        <div class="buttons">
            <input type="text" placeholder="Escribe un comentario..."><input type="button" value="🚀send">
        </div>
     
    </div>
 
}
</div>

 <!-- SEARCH QUERY MODAL --> 

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Likes</h1>
       
        </div>
        <div class="modal-body">  
          @for (like of userService.selectedPostLikes; track userService.selectedPostLikes ) {
                 <div class="likerWrapper">
                    <img [src] ="like.userProfilePicture" alt="user-Profile-Picture"><span>{{ like.usuario }}</span>
                 </div>
           }
          @empty{
            <span>Nadie a dado like aún. ¡sé el primero!</span>
          }
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
