.homeWrapper{
    width: 85vw;
    height: 100vh;
    background-color: black;
    margin-left: 15vw;
    position:absolute;
    display: flex;
    justify-content: left;

}
.stories-and-feed-wrapper{
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start ;

}
.sugestions-wrapper{
    background-color: whitesmoke;
    width: 25vw;
    height: 100vh;
    overflow: scroll;
}
@media (max-width:800px) {
    .homeWrapper{
        width: 100%;
        height: 100vh;
        background-color: black;
        margin-left: 0;
        margin-top: 15vh;
        position:absolute;
        display: flex;
        justify-content: left;
    }
    .sugestions-wrapper{
        display: none;
    }
}