<div class="suggestions-wrapper">
    <div class="user">
       <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1669777169/360_F_7324855_mx4CEBWTr81XLOrlQccCROtP2uNR7xbk_qk4o71.jpg" alt="">
       <p class="username">invitado</p>
    </div>
    <div class="suggestions">
        <h1>Gente que quizás conozcas</h1>
        <div class="persona">
            <img src="https://res.cloudinary.com/debvhmcid/image/upload/v1678806828/phoneFinderBot_slccj5.png" alt="">
            <p class="username">persona ejemplo</p>
        </div>
    </div>
</div>
